/* /* #text-1{
            color: white;
            background-color: orange;
        }
        .text-2{
            color: white;
            background-color: brown;
        }
        h3{
            color: chocolate;
        }
        input{
            background-color: aqua;
        }
        [type='text']{
            background-color: lightgreen>
        } */

        /* *{
            margin: 0;
            padding: 0;
        } */